@charset "UTF-8";

/* Versão Mobile First*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

:root {
    --cor1: #80F2D2;
    --cor2: #4A8C6D;
    --cor3: #79F2A4;
    --cor4: #F2F2F2;
    --cor5: #0D0D0D;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    width: 100vw;
}

header {
    background-color: var(--cor2);
    height: 13vh;
}

header h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 2.7em;
}

header p {
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    font-weight: 500;
    font-style: normal;
    margin-top: -10px;
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
}

menu {
    padding: 7px;
    background-color: var(--cor2);
}

menu a {
    text-decoration: none;
    padding-right: 7px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 0;
}

menu a:hover {
    color: black;
}

